body {
  padding: 0;
  margin: 0;
}

.maincontainer {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #e7eaee;
  border-radius: 5px;
  padding: 10px 0;
  margin: 20px auto;
  background-color: #3a8fe49f;
  background: linear-gradient(115deg, #e2dddd4d, #ebe8e286), url("https://m.media-amazon.com/images/I/61ulobLUdbL.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 3px 7px 0 #232425;
}

.percentage,
.amount {
  padding: 10px 0;
  width: 90%;
  margin: auto;
}

.btn {
  margin: 0 auto;
  width: 40%;
  padding: 10px;
  background: #1a1818bd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.display {
  color: #242322;
  font-weight: 700;
  font-size: 25px;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .maincontainer {
    width: 94%;
  }
}